<!-- src/app/movie-card/movie-card.component.html -->
<app-nav-bar></app-nav-bar>
<div style="display: flex; flex-wrap: wrap;">
    <mat-card *ngFor="let movie of movies;" style="flex: 1 1 auto; width: 300px; margin: 10px; ">
        <mat-card-header>
            <mat-card-title>{{movie.Title}}</mat-card-title>
            <mat-card-subtitle>Directed by: {{movie.Director.Name}}</mat-card-subtitle>
            <mat-card-subtitle>Synopsis: {{movie.Description}}</mat-card-subtitle>
            <mat-card-subtitle>Actors: {{movie.Actors}}</mat-card-subtitle>
        </mat-card-header>
        <img src="{{movie.ImageURL}}" alt="{{movie.Title}}" class="movie-image" />
        <mat-card-actions>
            <button mat-button (click)="openGenreDialog(movie.Genre)">
                {{ movie.Genre.Type }}
              </button>
              <button mat-button (click)="openDirectorDialog(movie.Director)">
                {{ movie.Director.Name }}
              </button>  
              <button mat-button (click)="openSynopsisDialog(movie.Title)">
                Synopsis
              </button> 
            <button mat-icon-button (click)="toggleFavorite(movie._id)">
                <mat-icon *ngIf="isFavorite(movie._id)">favorite</mat-icon>
                <mat-icon *ngIf="!isFavorite(movie._id)">favorite_border</mat-icon>
            </button>
        </mat-card-actions>
    </mat-card>
</div>

