.user-profile {
  display: flex;
  flex-direction: column;
  gap: 16px;

  @media(min-width: 760px) {
    flex-direction: row;
    justify-content: space-between;
  }

  .user-info, .user-form {
    flex: 1;
    margin: 16px;
  }

  .user-favourites {
    margin-top: 16px;
  }

  .movie-card {
    margin: 8px 0;
  }
}
